@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.clubs-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h1 {
  font-family: GothamBook;
  text-align: center;
}



.club-create-button {
  width: fit-content;
  position: absolute;
  right: 45px;
  margin-top: 10px;
  border-radius: 50px !important;
  text-align: center;
}
.club-picture-picker {
  width: 128px;
  height: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: -8px;
}

