@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.members {
  font-family: GothamLight;
  border: solid;
}
.x {
  text-align: center;
  margin-top: 400px;
  font-family: GothamBlack;
}

.events {
  font-family: GothamLight;
  border: solid;
}

.deck {
  margin-top: 50px;
}
