@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/GothamMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamLight";
  src: url("../fonts/GothamLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamBlack";
  src: url("../fonts/GothamBlack.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.event-title {
  text-align: center;
  font-family: GothamBlack;
}
.event-button {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 5px;
  margin-right: 5px;
  font-family: GothamBlack;
  background-color: #ffffff;
}
.event-button-photos {
  float: left;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  font-family: GothamBlack;
  background-color: #ffffff;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: #003255 !important;
}

.event-description {
  font-family: CenturyGothic;
  height: 80px;
  overflow-y: scroll;
  text-align: center;
  overflow: hidden;
}

.event-description:hover {
  font-family: CenturyGothic;
  height: 80px;
  overflow-y: scroll;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
h5 {
  font-family: GothamMedium;
}

.card {
  border: 1px solid #ffd700;
}
.event-brief {
  font-family: GothamLight;
}
.event-delete-button {
  width: fit-content;
  position: absolute;
  right: 5px;
  margin-top: 5px;
  border-radius: 50px !important;
  text-align: center;
}
.event-edit-button {
  width: fit-content;
  position: absolute;
  left: 5px;
  margin-top: 5px;
  border-radius: 50px !important;
  text-align: center;
}

.eventt-picture-picker {
  width: 128px;
  height: 128px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: -8px;
  flex-direction: row;
  flex-wrap: wrap;
}
