.results-div {
    font-family: CenturyGothic;
    height: 150px;
    overflow-y: scroll;
    text-align: center;
    overflow: hidden;
    margin: 2%;
    background-color: #ededed;
  }
  
.results-div:hover {
    overflow-y: scroll;
  }

.padded {
  padding: 0.5%;
}

.search-form{
  color: white;
  text-align: center;
  background-color: #05375A
}

.search-button{
  color: #05375A; 
  border: #05375A; 
  border-radius: 0; 
  background-color: #ffd700; 
  font-weight: 600;
}

.search-button:hover{
  font-weight: bolder;
}
